<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="ui-g ui-g-12">
    <div class="ui-g-2">

    </div>
    <div class="ui-g-10">
      <h1> Bienvenido al buscador pokémon!</h1>

      <div *ngIf="pokemon" class="ui-g-12">
        <div class="ui-g-12">
          <div class="ui-g-2"></div>
          <input class="ui-g-8" pInputText type="text" [(ngModel)]="pokemon.name" name="inputPokemon" />

        </div>
        <div class="ui-g-12">
          <p-panel class="ui-g-12" header="{{ pokemon.name | capitalize }}">
            <div class="ui-g">
              <img class="ui-g-2" src="{{ pokemon.sprites.front_default }}" alt="{{ pokemon.name }}sprite" />
              <div class="ui-g-8">{{ pokemon.pokemonSpecies.flavor_text_entries[3].flavor_text }}
              </div>
            </div>
          </p-panel>

        </div>


      </div>
    </div>
    <div class="ui-g-2">

    </div>
  </div>
